.container{
  margin: 0 auto;
  max-width: 90rem;
  min-width: 40rem;
  box-sizing: border-box;

}

.row{
  padding: var(--unit);
  display: flex;

}
.grid-12{
  --grid:12;
}
.grid-16{
  --grid:16;
}
.col{
  width: 100%;
  box-sizing: border-box;
}

.col-1{
  width: calc(100% * 1 / var(--grid));
}

.col-2{
  width: calc(100% * 2 / var(--grid));
}

.col-4{
  width: calc(100% * 4 / var(--grid));
}

.col-6{
  width: calc(100% * 6 / var(--grid));
}

.col-8{
  width: calc(100% * 8 / var(--grid));
}

.col-12{
  width: calc(100% * 12 / var(--grid));
}
.col div{
  background-color: var(--color-red);
  margin: var(--unit);
  padding: calc(var(--unit) * 2);
}
.col div:hover::after{
  content: attr('class');
  color: var(--colour-grey-dark);
  position: absolute;
  top: 0;
}
.col {
  position: relative;
  
}
